@reference 'tailwindcss';

.wrapper {
  background: radial-gradient(
    75% 75% at 91.7% 6.8%,
    var(--bg-color-p3) 0%,
    var(--bg-color-p4) 100%
  );

  @apply rounded-tr-[60px] rounded-bl-[60px] py-[64px] sm:rounded-tr-[120px] sm:rounded-bl-[120px] sm:py-[96px];
}

.workItem {
  width: calc(50% - 48px);
  flex-grow: 1;
}

.workItem img {
  width: 100%;
  object-fit: contain;
}

/* For Mobile screens */
@media only screen and (max-width: 480px) {
  .workItem {
    width: 100%;
  }
}
