@reference 'tailwindcss';

.containerBg {
  background-color: var(--bg-color-p4);
}

.containerWrapper {
  @apply !py-[64px] rounded-tr-[60px] rounded-bl-[60px] bg-white sm:!py-[72px] sm:rounded-tr-[120px] sm:rounded-bl-[120px];
}

.subHeading {
  color: var(--color-p1);
  @apply text-lg mb-4;
}

.experienceBox {
  border-top: 1px solid var(--bg-color-p4);
  @apply py-4 mb-4 flex flex-col gap-4;
}

.skillBox {
  width: calc(33.33% - 16px);
  border: 1px solid var(--bg-color-p4);
  border-radius: 8px;
  @apply p-4 flex-grow flex flex-col items-center justify-center gap-4 text-center;
}

/* For Mobile screens */
@media only screen and (max-width: 480px) {
  .skillBox {
    width: calc(50% - 16px);
  }
}
